.homepage{
    height:100vh;
    width:100vw;
}

.homepage_header{
    display: flex;
    margin-top:20px;
    justify-content: center;
}

.homepage_category_list{
    margin-left: 20px;
    margin-top: 50px;
}


.homepage_cetegory_name{
    margin-bottom: 20px;
}

.homepage_cetegory_name:hover{
    transition: 0.6s;
    font-size:xx-large;
   
}

